<<<<<<< HEAD
<% if @user == @current_user %>
<p class="delete"><a href="/post/<%= @post.id %>/delete">delete this post</a></p>
<% end %>
<h2 id="postTitle"><%= @post.title %></h2>
<p>by <%= @user.username %>
<img src="<%= @post.image %>">
<p id="postBody"><%= @post.body %></p>
=======

<%= if User.find_by(@post.user_id).id == @current_user.id %>
<p class="delete"><a href="/post/<%= @post.id %>/delete">delete this post</a></p>
<% end %>
<h2 id="postTitle"><%= @post.title %></h2>
<div id="postImg">
	<img id="postPic" src="<%= @post.image %>">
</div>
<div id="postAllText"
	<p id="postBody"><%= @post.body %></p>
	<% @post.comments.each do |comment| %>
	<% @comment_user = User.find_by(id: comment.user_id) %>
		<li><%= comment.body %> - <a href='/user/<%= @comment_user.username %>'><img class="avImg" src=" <%= Avatar.find_by(id: @comment_user.avatar_id).path %> "><%= @comment_user.username %></a></li>
>>>>>>> 6a993f59c3c2268f07e9343cf8498dff3d7f4ae0
<% @post.comments.each do |comment| %>
<% @comment_user = User.find_by(id: comment.user_id) %>
<li><%= comment.body %> - <a href='/user/<%= @comment_user.username %>'><img src=" <%= Avatar.find_by(id: @comment_user.avatar_id).path %> "><%= @comment_user.username %></a></li>

<% end %>
<% if @current_user %>
	<form method="POST" action="/comment">
		<label for="comment">What do you think?</label>
		<textarea name="body" id="comment"></textarea>
		<input type="text" class="hidden" name="post_id" value="<%= @post.id %>">
		<input type="submit">
	</form>
<% end %>
</div>