<h2 id="postTitle"><%= @post.title %></h2>
<img src="<%= @post.image %>">
<p id="postBody"><%= @post.body %></p>
<% @post.comments.each do |comment| %>
<li><%= comment.body %> - <a href='/user/<%= User.find_by(id: comment.user_id).username %>'><%= User.find_by(id: comment.user_id).username %></a></li>
<% end %>
<% if @current_user %>
	<form method="POST" action="/comment">
		<label for="comment">What do you think?</label>
		<textarea name="body" id="comment"></textarea>
		<input type="text" class="hidden" name="post_id" value="<%= @post.id %>">
		<input type="submit">
	</form>
<% end %>