<h2><%= @post.title %></h2>
<img src="<%= @post.image %>">
<p><%= @post.body %></p>
<% @post.comments.each do |comment| %>
<% @comment_user = User.find_by(id: comment.user_id) %>
<li><%= comment.body %> - <a href='/user/<%= @comment_user.username %>'><img src=" <%= Avatar.find_by(id: @comment_user.avatar_id).path %> "><%= @comment_user.username %></a></li>
<% end %>
<% if @current_user %>
	<form method="POST" action="/comment">
		<label for="comment">What do you think?</label>
		<textarea name="body" id="comment"></textarea>
		<input type="text" class="hidden" name="post_id" value="<%= @post.id %>">
		<input type="submit">
	</form>
<% end %>