<div id="profileDiv">
	<h2 id="profileUserText"><%= @user.username %></h2><img id="profileAv" class="avImg" src=" <%= Avatar.find_by(id: @user.avatar_id).path %> ">
	<form method="POST" action="/user/<%= @user.username %>/update">
		<p id="profileHometownText" class="content"><%= @user.hometown %></p>
		<label for="newHometown" class="editFormLabel">Hometown</label>
		<input type="text" name="newHometown" class="editForm" value="<%= @user.hometown %>">
		<p id="profileBioText" class="content"><%= @user.bio %></p>
		<label for="newBio" class="editFormLabel">Bio</label>
		<textarea name="newBio" class="editForm"><%= @user.bio %></textarea>
		<input type="submit" class="editForm">
	</form>
<% if @user == @current_user %>
<p id="editButton" class="content">Edit Profile</p>
<% end %>
</div>
<div id="userRecents">
<ul>
<% @user.posts.each do |post| %>
<li><a href="/post/<%= post.id %>"><%= post.title %></a></li>
<% end %>
</ul>
</div>
