<div id="profileDiv">
<h2><%= @user.username %></h2>
<p><%= @user.hometown %></p>
<p><%= @user.bio %></p>
<ul>
<% @user.posts.each do |post| %>
<li><a href="/post/<%= post.id %>"><%= post.title %></a></li>
</ul>
<% end %>
</div>
